@import "tailwindcss";

@theme {
  --color-purple: #6766f5;
  --color-raspberry: #d3455b;
  --color-gray: #c3cfd9;
}

.button-primary {
  @apply px-4 py-2 rounded-md text-white uppercase cursor-pointer bg-purple;
}

.button-secondary {
  @apply px-4 py-2 rounded-md text-white uppercase cursor-pointer bg-raspberry;
}

html {
  padding: 20px;
}